{% extends 'base.html.twig' %}

{% block title %}Avatar creation success{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 align-content-center">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 align-content-center">
                <a href="{{ path('avatar_create') }}">Back</a>
            </div>
        </div>
    </div>
{% endblock %}