{% extends 'base.html.twig' %}

{% block title %}Avatar viewer{% endblock %}

{% form_theme emailForm _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="alert alert-danger">{{ error.message }}</div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Avatar</th>
                        <th scope="col">Provider</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for email in emails %}
                        {# "Akkor is elegendő egyetlen szolgáltatót feltüntetni, ha mindkettőn található az emailhez beállított avatar." #}
                        {% set emailAvatar = avatars(email.getEmail()).first %}
                        <tr>
                            <td>{{ email.getEmail() }}</td>
                            <td>
                                {% if emailAvatar %}
                                    <img src="{{ emailAvatar.getAvatarUrl() }}">
                                {% else %}
                                    <img src="{{ asset('build/static/images/no-avatar.png') }}" alt="No avatar"/>
                                {% endif %}
                            </td>
                            <td>
                                {% if emailAvatar %}
                                    {{ emailAvatar.getProviderName() }}
                                {% endif %}
                            </td>
                        </tr>
                        <h2></h2>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 p-3">
                {{ form_start(emailForm, {'attr': {'novalidate': 'novalidate'} }) }}
                {{ form_errors(emailForm.email) }}
                <div class="form-group">
                    {{ form_label(emailForm.email) }}
                    {{ form_widget(emailForm.email) }}
                </div>
                {{ form_widget(emailForm.submit) }}
                {{ form_end(emailForm) }}
            </div>
        </div>
    </div>
{% endblock %}
